.centrar{
    text-align: center;
    background-color: rgb(225, 175, 245);
    font-style: oblique;
}
.imagen{
    width: 50%;
    height: 90%;
}

.image{
    width: 20%;
    height: 20%;
}
.navegador{
    text-align: start;
}
.p{
    font: size -100%;
    font-style: normal;
}
.cabecera{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 45xp 320xp;
}
footer {

    background-color: black;
    padding-bottom: 200px;
    padding-left: 500px;
    padding-right: 1200px;
}