.centrar{
    text-align: center;
    background-color: rgb(225, 175, 245);
   
}
.imagen{
    width: 8%;
    height: 8%;
}

.image{
    width: 20%;
    height: 20%;
}
.navegador{
    text-align: start;
}