.centrar{
    text-align: center;
    background-color: rgb(225, 175, 245);
   
}
.imagen{
    width: 8%;
    height: 8%;
}

.image{
    width: 20%;
    height: 20%;
}
.navegador{
    text-align: start;
}
font-size: 0;
    margin-left: -6px;
    margin-right: -6px;
}
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.naf6b [class*=ncss-col-] {
    font-size: 14px;
    line-height: 1.714285714285714;
}
[class*=ncss-col-] {
    position: relative;
    min-height: 1px;
    display: none;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 6px;
    padding-right: 6px;
}
body {
    font-size: inherit;
    line-height: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fff;
}
body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 16px;
    line-height: 1.75;
    -webkit-text-size-adjust: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
.ncss-row:after, .ncss-row:before {
    content: "";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.ncss-row:after {
    clear: both;
}
.ncss-row:after, .ncss-row:before {
    content: "";
    display: table;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}